<h1>Rent</h1>

Car Id: <input type="text" name="CheckInTime"><br>
Name on card: <input type="text" name="CheckInTime"><br>
Card number: 	<input type="text" ng-model="number" payments-validate="card" /><br>
Exp. Date: 	<input type="text" ng-model="expiry" payments-validate="expiry" /><br>
CVC: <input type="text" ng-model="cvc" payments-validate="cvc" /><br>
Intended Check Out Date: <input type="text" name="CheckInTime"><br>
Intended Check In Date: <input type="text" name="CheckInTime"><br>
<input type="submit" value="Submit">
<!-- Display ReservationId -->

