<h1>The check out</h1>

<form [formGroup]="checkOutForm" (ngSubmit)="checkOut(checkOutForm.value)">

  <mat-form-field>
    <input matInput type="text" placeholder="Reservation Number" formControlName="ReservationNumber">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput type="text" placeholder="Check Out Time" formControlName="CheckOutTime">
  </mat-form-field>
  <br>
  <mat-form-field>
    <textarea matInput placeholder="Vehicle Condition" formControlName="VehicleCondition"></textarea>
  </mat-form-field>
<br>
  <button mat-raised-button color=primary type="submit">Check Out</button>
</form>

