<mat-toolbar>
<div *ngIf="!isAuthenticatedUser">
        <button mat-button routerLink="/rent">Rent</button>
        <button mat-button routerLink="/view-rental">View Rental</button>
</div>
<div *ngIf="isAuthenticatedUser">
        <button mat-button routerLink="/check-in">Check In</button>
        <button mat-button routerLink="/check-out">Check Out</button>
        <button mat-button routerLink="/fleetMaintainance">Fleet Maintainance</button>
    
</div>   

    <button mat-icon-button style="float: right;"
    [satPopoverAnchor]=login
    (click)="login.toggle()">
        <mat-icon>account_box</mat-icon>
    </button>

</mat-toolbar>

<sat-popover #login hasBackdrop verticalAlign="below">
    <mat-card>
    <app-login (login)="TriggerLogIn($event)" (logout)="TriggerLogOut($event)"></app-login>
</mat-card>
  </sat-popover>
